::-webkit-scrollbar { width: 1px; height: 1px; }
::-webkit-scrollbar-thumb{ background: rgb(255,255,255,.4); }
* {
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    user-select: none;
    touch-action: none;
    background: none;
}
html,body {
    width: 100vw;
    height: 100vh;
}
input {
    border: solid 1px rgb(255,255,255);
    color: rgb(255,255,255);
}
#open {
    top: 5%; left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: visible;
}
#fps {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#tps {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#volume{
    top: 5%; right: calc(5% + 270px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: visible;
}
#percent{
    top: 5%; right: calc(5% + 220px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: visible;
}
#index {
    top: 5%; right: 5%;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    pointer-events: visible;
}
#list {
    top: 15%; right: 5%;
    width: 300px;
    max-height: 70%;
    flex-wrap: wrap;
    overflow-y: scroll;
    pointer-events: visible;
}
#crypto {
    position: relative;
    margin: 5% auto;
    width: 100%;
    height: 30px;
    border-radius: 50px;
    background: rgb(255,255,255);
    backdrop-filter: blur(5px);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: visible;
    transition: 1s;
}
#crypto:hover {
    background: rgb(0,255,255);
}